body {
  background-color: #D70026;
  color: white;
}

* {
    margin: 0;
    padding: 0;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  display:block;
}

.intro .container, .portfolio .container, .contact .container {
  height: 750px;
  margin:auto;
}

.subdiv {
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}

.container h1 {
  text-align: center;
  font-family: 'Damion', cursive;
  font-size: 50px;
}

.container h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 34px;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/*Header*/

.header {
  position: fixed;
  background-color: inherit;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 9;
  -webkit-box-shadow: 0 2px 2px #888;
	-moz-box-shadow: 0 2px 2px #888;
	box-shadow: 0 2px 2px #888;
}

.header .container {
  display: block;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline;
  font-size: 0;
}

.header ul li a {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.header ul li a:visited {
  color: inherit;
}

.header ul li:nth-of-type(1) a {
  text-decoration: none;
  color: white;
  font-family: 'Damion', cursive;
}

.header ul li:nth-of-type(2) a {
  background-color: rgb(248,245,242);
  color: black;
}

.header ul li:nth-of-type(3) a {
  background-color: rgb(237, 184, 61);
}

.header ul li:nth-of-type(4) a {
  background-color: rgb(0, 11, 41);
}

/*Introduction Section*/

.intro {
  background: url(pics/sfggcoast.jpg) no-repeat center fixed;
  height: 775px;
}

.intro .container {
  position:relative;
  top: 35%;
  transform: translateY(-65%);
}

/*Portfolio Section*/

.portfolio {
  background: url(pics/sfskyline.jpg) no-repeat center center fixed;
  height: 775px;
}

.portfolio .container {
}

/*Contact Section*/

.contact {
  background: url(pics/sfroad.jpg) no-repeat center center fixed;
  height: 775px;
}

.contact .container {
}

.contact ul {
  list-style: none;
  text-align: center;
}

.contact ul li {
  display: inline-flex;
}

.contact ul li a {
  color: black;
}

.link-btn {
  color:black;
  padding: 10px 20px;
  background-color: white;
  border: 2px;
  border-color: black;
  border-radius: 10px;
  text-decoration: none;
}

.link-btn:hover {
  color:white;
  background-color: black;
}

/*Footer Section*/

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer a:visited {
  color: white;
}

.footer ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer ul li {
  display: inline;
}

.footer ul li:after { content: " \00b7"; }

.footer ul li:last-child:after { content: none; }

.footer ul li a {
  color: white;
}

.footer .container p {
  font-size: 11px;
}
