body {
  background-color: #D70026;
  color: white;
}

* {
    margin: 0;
    padding: 0;
}

.container {
  width: 750px;
  margin: 0 auto;
  display:block;
}

.intro .container, .portfolio .container, .contact .container {
  padding: 0px 50px;
  height: 750px;
  margin:auto;
}

.subdiv {
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}

.container h2 {
  text-align: center;
}

/*Header*/

.header {
  position: fixed;
  background-color: inherit;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 9;
}

.header ul {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header ul li {
  display: inline;
}

.header ul li:after { content: " \00b7"; }

.header ul li:last-child:after { content: none; }

/*Introduction Section*/

.intro {
  background: url(overhead_coast.jpg) no-repeat center center fixed;
  height: 750px;
  color: black;
}

.intro .container {
  background-color: #F8F5F2;
}

.intro h2 {
  text-align: center;
}

/*Portfolio Section*/

.portfolio {
  background: url(painted_mtns.jpg) no-repeat center center fixed;
  height: 750px;
}

.portfolio .container {
  background-color: #EDB83D;
}

/*Contact Section*/

.contact {
  background: url(star_swirl.jpg) no-repeat center center fixed;
  height: 750px;
}

.contact .container {
  background-color: #000B29;
}

.contact ul {
  list-style: none;
  text-align: center;
}

.contact ul li {
  display: inline-flex;
}

.link-btn {
  color:black;
  padding: 10px 20px;
  background-color: white;
  border: 2px;
  border-color: black;
  border-radius: 10px;
  text-decoration: none;
}

.link-btn:hover {
  color:white;
  background-color: black;
}

/*Footer Section*/

.footer {
  padding: 50px;
}

.footer a:visited {
  color: white;
}

.footer ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer ul li {
  display: inline;
}

.footer ul li:after { content: " \00b7"; }

.footer ul li:last-child:after { content: none; }

.footer .container p {
  font-size: 11px;
}
